<table class='table'>
  <thead>
    <tr>
      <th colspan="1"></th>
      <th>full_name</th>
      <th>introduction</th>
    </tr>
  </thead>
  <tbody>
    <%# byebug %>
    <% customers.each do |customer| %>
      <tr>
        <td><%= image_tag customer.get_profile_image(50,50) %></td>
        <td><%= customer.full_name %></td>
        <td><%= customer.introduction %></td>
        <td><%= link_to 'Show', customer, class: "customer_#{customer.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>