<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Customer info</h2>
      <%= render 'info', customer: @customer %>
      <h2 class="mt-3">New cycling</h2>
      <%= render 'public/post_images/form', post_image: @newcycling %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Post_Images</h2>
      <%= render 'public/post_images/index',post_images: @post_images %>
    </div>
  </div>
</div>

