<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1>welcome to <i class="fas fa-book"></i><strong>Cycling</strong>  !!</h1>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
         <%= link_to "Log in", new_customer_session_path, class: 'col-lg-4 nav-link text btn btn-success' %>
        <div class="row">
         <%= link_to "Sign up", new_customer_registration_path, class: ' col-lg-4 nav-link text btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
