<div class='container px-5 px-sm-0'>
  <div class='row'>
     <div class='col-md-3'>
    <h2>Customer info</h2>
    <%= render 'info', customer: current_customer %>
    <h2 class="mt-3">New cycling</h2>
    <%= render 'post_images/form', post_image: @post_image %>
    </div>
    <div class='col-md-8 offset-md-1'>
    <h2>Customers</h2>
    <%= render 'index',customers: @customers %>
    </div>
  </div>
</div>