<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>Customer info</h2>
      <%= render 'admin/customers/info', customer: @customer %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Post_Images</h2>
      <%= render 'admin/post_images/index',post_images: @post_images %>
      <%#= link_to 'Destroy', @post_image, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_image_#{@post_image.id}"%>
    </div>
  </div>
</div>
