<div class="container">

 <div class="p-3 mb-2 col-md-2 font-weight-bold bg-light text-dark">マイページ</div>

  <%= form_with model: @customer, url: customers_information_edit_path do |f| %>
<table>
  <tr>
    <td><%= f.label :"登録情報" %></td>
    <td><%= link_to "編集する", edit_customer_path, class: 'btn ml-5 mb-3 btn-success' %></td>
  </tr>
</table>
