  <div class='container px-5 px-sm-0'>
    <%= render 'layouts/errors', obj: @post_image %>
    <div class='row'>
      <div class='col-md-3'>
        <h2>Customer info</h2>
        <%= render 'admin/customers/info', customer: current_customer%>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Post_images</h2>
      <%= render 'admin/post_images/edit', post_images: @post_images%>
    </div>
</div>